resource "{{.Prefix}}_organization" "example" {
  name        			= "Example Organization"
}
resource "{{.Prefix}}_eda_project" "example" {
  name         			  = "Example EDA Project"
  description  			  = "Example Description"
  scm_type     			  = "git"
  url      	      		= "https://github.com/tfbrew/example-repo"
  organization_id    	= {{.Prefix}}_organization.test.eda_id
}
