resource "{{.Prefix}}_organization" "example" {
    name = "example"
  }

  resource "{{.Prefix}}_inventory" "regular" {
    name =  "example"
    organization = {{.Prefix}}_organization.example.id
  }
  
  resource "{{.Prefix}}_inventory" "constructed" {
    name = "example"
    organization = {{.Prefix}}_organization.example.id
    kind = "constructed"
    host_filter = ""
  }

  resource "{{.Prefix}}_inventory_input" "example" {
    constructed_inventory_id = {{.Prefix}}_inventory.constructed.id
    input_inventory_id       = {{.Prefix}}_inventory.regular.id
  }